@font-face {
    font-family: 'BalooChettan';
    src: url('./fonts/BalooChettan-Regular.ttf') format('truetype')

}

html, body {
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    background: #000;
    color: #fff;
}

body {
    display: flex;
    min-height: 100vh;
    /*flex-flow: column wrap;*/
    flex-direction: column;
    /*justify-content: space-between;*/
    align-items: center;
}


.main-box {
    /*text-align: center;*/
    /*margin: 0 20vw;*/
    /*align-self: start;*/
}

.logo-box {
    margin-top: 20vh;
    font-size: 100px;
    color: #fff;
    height: 200px;
    line-height: 200px;
    font-weight: 700;
    text-align: center;
}

.logo-box span {
    background: #ffa31a;
    color: #000;
    border-radius: 15px;
    margin: 15px;
    padding: 2px 10px;
}

.search-box {
    margin-top: 4vh;
}

.search {
    display: flex;
    align-items: center;
}

.input-box {
    margin: 0;
}

#kw {
    /*height: 46px;*/
    width: 50vw;
    font-size: 36px;
    margin: 0;
    color: #cacaca;
    background: #363636;
    border: none;
    height: 54px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: 4px 10px;
    box-sizing: border-box;
    outline: none;
}

#kw:focus {
    border: 2px #cacaca solid;
}

.search-button {
    background: #ffa31a;
    color: #000;
    padding: 7px 12px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 30px;
    /*margin-left: 5px;*/
    font-weight: 700;
    height: 54px;
    box-sizing: border-box;
    line-height: 40px;
}

footer {
    position: fixed;
    bottom: 0;
    color: #fff;
    margin-bottom: 15px;
    font-weight: 700;
}

footer span {
    background: #ffa31a;
    color: #000;
    padding: 4px 5px;
    border-radius: 4px;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.heart {
    /*color: #f90;*/
}